/*
 * SPDX-License-Identifier: MIT
 */

#include <nordic/nrf52840_qiaa.dtsi>

/ {
    model = "E73-2G4M08S1C";
    compatible = "ebyte,e73-2g4m08s1c";

    chosen {
        zephyr,code-partition = &code_partition;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
    };


    &flash0 {
      partitions {
          compatible = "fixed-partitions";
          #address-cells = <1>;
          #size-cells = <1>;

          sd_partition: partition@0 {
              
          };
      };
    };
};
